.chat-form-container {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    padding: 12px;

    .icon-btn {
        background-color: #fff;
        border-radius: 4px;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        border: none;

        svg {
            width: 24px;
            height: 24px;
        }

        &:hover {
            background-color: #f0f0f0;
        }

        &:focus {
            outline: none;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        flex: 1;

        .custom-input-text {
            width: 100%;
            font-size: 14px;

            textarea {
                border: none;
                outline: none;
                width: 100%;
                resize: none;
                font-size: 14px;
                overflow: hidden;
                line-height: 1.5rem;
                max-height: calc(1.5rem * 3);

                &:focus {
                    outline: none;
                }

                &::-webkit-scrollbar {
                    width: 6px;
                    border-radius: 9999px;
                    background-color: #f5f9ff;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 9999px;
                    background-color: #0074bd;
                }
            }
        }

        .file-preview-container {
            margin-bottom: 8px;
            display: flex;
            flex-wrap: wrap;
            align-self: flex-start;
        }
    }
}